h1 {
    margin: 50px;
    font-family: Onest, serif;
    font-size: 50px;
}

.load_example {
    padding: 12px 16px 12px 16px;
    text-align: center;
    margin: 50px 12px 50px 50px;
    background-color: gray;
    color: white;
    font-family: Onest, serif;
    font-size: 20px;
    border-radius: 12px;
    border: none;
    text-decoration: none;
}

.load_example:hover {
    background-color: black;
    color: white;
}

.load_bom {
    padding: 12px 16px 12px 16px;
    text-align: center;
    margin: 50px 50px 50px 12px;
    background-color: orangered;
    color: white;
    font-family: Onest, serif;
    font-size: 20px;
    border-radius: 12px;
    border: none;
}

.load_bom:hover {
    background-color: black;
    color: white;
}