<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Подбор элементной базы по BOM-спецификации</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/index.css">
</head>
<body>
    <h1 class="title">Подбор элементной базы по BOM-спецификации</h1>
    <button class="load_example">Загрузить шаблон BOM</button>
    <button class="load_bom">Загрузить BOM</button>
</body>
</html>