<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Подбор элементной базы</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
<!--    <h1 class="title">Подбор элементной базы</h1>-->
<!--    <a class="load_example" href="/downloads">Загрузить шаблон BOM</a>-->
<!--    <button class="load_bom">Загрузить BOM</button>-->
<!--    <p></p>-->
<!--    <input type="file">-->

    <div class="window">
        <span class="title unselectable">Подбор элементной базы</span>

        <div class="input-frame" id="drop-area">
            <div class="subframe"></div>
            <div class="subframe">
                <span class="frame-title unselectable">Перетащите сюда файл спецификации</span>

                <span class="frame-subtitle unselectable">.xlsx, .csv, .txt</span>

                <a class="load-button hidden unselectable" id="load-button" href="/search" hidden>Начать поиск</a>

                <input id="input-file" type="file" accept=".txt,.csv,.xlsx" hidden>
            </div>
            <div class="subframe">
                <a class="download-example unselectable" href="/downloads">Загрузить шаблон спецификации</a>
            </div>
        </div>
    </div>

    <script src="../static/index.js"></script>
</body>
</html>