<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="stylesheet" href="../static/search.css">
</head>
<body>
  <div class="search">
      <header>
          <span class="title">
              Ваши элементы
          </span>
          <div class="header-buttons">
              <div class="results-button active">Результат</div>
              <div class="ai-chat-button">AI-чат</div>
          </div>
      </header>

      <div class="results">
          {% for i in range(length) %}
              <div class="item">
                  <div class="item-header">
                      <div class="item-number">{{i+1}}</div>
                      <span class="item-name">{{titles[i]}}</span>
                  </div>

                  <div class="item-results">
                      {% for item in results[titles[i]] %}
                          <div class="item-result">
                              <div class="item-image-box">
                                  <img class="item-image" src={{item.image}} alt="">
                              </div>
                              <div class="item-text-box">
                                  <a class="item-text" href={{item.url}}>{{item.name}}</a>
                              </div>
                          </div>
                      {% endfor %}
                  </div>
              </div>
          {% endfor %}
      </div>

      <div class="ai-chat hidden">

      </div>
  </div>

  <script src="../static/search.js"></script>
</body>
</html>